<div class="product-card">
  <img
    src="/uploads/<%= p.image || 'no-image.png' %>"
    alt="<%= p.name %>"
  >

  <div class="product-body">
    <h6><%= p.name %></h6>
    <p class="price">₱ <%= p.price %></p>

    <form
      method="POST"
      action="/cart/add/<%= p.id %>"
    >
      <button class="btn btn-dark btn-sm w-100 mt-2">
        Add to Cart
      </button>
    </form>
  </div>
</div>
